<%= simple_form_for Quote.new do |f| %>
  <div class="modal-body">
          <%= f.input :saying %>
          <%= f.input :author %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit 'Create', class: 'btn btn-danger' %>
  </div>
<% end %>
