<%= simple_form_for Quote.new do |f| %>
  <div class="modal-body">
          <%= f.input :saying, label: "What is the work cited you want to add?", placeholder: "With great power comes with great amount of electricity bill." %>
            <br />
          <%= f.input :author, label: "Who is the author of the source?", placeholder: "Kirby James" %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit 'Create', class: 'btn btn-danger' %>
  </div>
<% end %>
