<div class="col-10 offset-1 about">
    <h1>About Flippy</h1>

        <p>
            Flippy was built by <a target="_blank" href="http://kirbyjames.me">Kirby</a>.
            A determined professional that is going to land his first Software Engineering job.
        </p>
        <p>
            Check out <a target="_blank" href="http://techhire.org/">TechHire</a> a scholarship program initiative by the WhiteHouse.
            And also <a target="_blank" href="http://www.thefirehoseproject.com/">TheFirehoseProject</a>.
        </p>

        <br />

    <div class="row">

        <div class="col-12 col-sm-4">
          <%= image_tag 'kboy.png', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
          <h2 class="text-center">Kirby James</h2>
              <br />
                <p>
                    Kirby James is a <a href="#">@Navy Veteran</a>,
                    <a href="http://techhire.org/">@TechHire</a> scholar,
                    member of <a href="https://operationcode.org">@Operation Code</a>,
                    currently on <a href="http://www.thefirehoseproject.com/">@TheFirehoseProject</a> program
                    and a Ruby on Rails enthusiast.
                </p>
        </div>
    </div>

<br class="clear" />
  <% 4.times do %>
    <br>
  <% end %>

</div>
