<div class="col-10 offset-1 about">
    <div class="text-center">
        <h2>Tentative Thesis:</h2>
        <br>
        <span>
            Through its contrasting technological advancements and health. Flexible learning that it makes it easy and inviting than ever.
            Nowadays with the new technology people save money, energy and time. They can multitask number of things in a short period of time,
             with just a computer/laptop and a simple click from a mouse. However, technology has its own misconceptions and number of disadvantages.
        </span>
    </div>
    <br />
    <div class="col-md-10 offset-md-1">
      <h2 class="text-center">OUTLINE</h2>
          <hr />
            <p class="text-center">
                <br>
                <b>I. Introduction:</b>
                <li>Brief Introduction leading to the Analytical Study of Health and Technology.</li>
                <li>Thesis statement on the effects of technology to out overall health.</li>
            </p>
            <p class="text-center">
                <b>II. Body:</b>
                <p>
                    A. Benefits of technology to our health
                    <li>Topic Sentence leading to this subtopic.</li>
                    <li>Citations, quoations, anotations.</li>
                    <li>State an idea regarding the subtopic.</li>
                    <li>Supporting facts via sources and statistics.</li>
                </p>
                <p>
                    B. Side effects of technology overuse.
                    <li>Topic Sentence leading to this subtopic.</li>
                    <li>Citation, quotations, anotations.</li>
                    <li>State a general side-effect wherein people are affected due to technology.</li>
                    <li>Support the side-effect/s with facts, sources, statistics.</li>
                    <li>State an idea or comment regarding the subtopic.</li>
                </p>
                <p>
                    C. Positive side effects of technology for children.
                    <li>1. Awareness</li>
                    <li>2. Increase Social Life</li>
                    <li>3. Technology to keep healthy</li>
                </p>
                <p>
                    D. Negative side effects of technology for children.
                    <li>1. Privacy</li>
                    <li>2. Sense of urgency</li>
                    <li>3. Social Norms</li>
                </p>
                <p>
                    E. Possible Solutions.
                    <p>- 1. Treatments</p>
                    <p>- 2. Therapies</p>
                    <p>- 3. Remedies</p>
                </p>
                <p>
                    F. Changes
                    <p>- 1. Lifestlye</p>
                    <p>- 2. Diet</p>
                    <p>- 3. Prevention</p>
                    <p>- 4. Retrospective</p>
                </p>
            </p>
            <p class="text-center">
                <b>III. Conclusion:</b>
                <p>
                    A. Analytical Summary
                    <p>- 1. Benefits of technology to our health</p>
                    <p>- 2. Side effects of technology overuse.</p>
                    <p>- 3. Positive side effects of technology for children.</p>
                    <p>- 4. Negative side effects of technology for children.</p>
                    <p>- 5. Possible Solutions.</p>
                    <p>- 6. Changes</p>
                </p>
                <p>
                    B. Concluding Statement
                </p>
                <p>
                    C. Thesis Reworded
                </p>
            </p>
    </div>

    <!-- WORKS CITED -->
    <div class="col-md-10 offset-md-1">
        <br />
        <br />
        <h2 class="text-center">Works Cited</h2>
        <hr />
        <br />
        <p>
            Drago, E. (2015). <i>The effect of technology on face-to-face communication</i>. The Elon
            <p class="work-cited">Journal of Undergraduate Research in Communications.</p>
        </p>
        <p>
            McGrath, S. (2012). <i>The impact of new media technologies on social interaction in the</i>
            <p class="work-cited"><i>Household</i>. Electronic Culture and Social Change.</p>
        </p>
        <p>
            Rooney, Anne. <i>Health and Medicine: the Impact of Science and Technology.</i>
            	<p class="work-cited">Pleasantville, NY, Gareth Stevens Pub., 2010.</p>
        </p>
        <p>
            Cullingford, Cedric, and Nusrat Haq. <i>Computers, Schools and Students: the Effects of</i>
            <p class="work-cited"><i>Technology</i>. Farnham, England, Ashgate Pub., 2009.</p>
        </p>
        <p>
            Kabene, Stefane M. <i>Healthcare and the Effect of Technology: Developments,  Challenges</i>
            <p class="work-cited"><i>and Advancements</i>. Hershey, PA, Medical Information Science Reference, 2010.</p>
        </p>
        <p>
            Kutner, Joe. "Healthy Programmer: Get Fit, Feel Better, and Keep Coding". 2013.
        </p>
        <p>
            Hatch, Kristina E., “Determining the Effects of Technology on Children” (2011).
            <p class="work-cited">Senior Honors Projects. Paper 260. http://digitalcommons.uri.edu/srhonorsprog/260.</p>
        </p>
        <p>
            DeLoatch, Pamela. “The Four Negative Sides of Technology.” Edudemic, 2 May 2015,
            <p class="work-cited">www.edudemic.com/the-4-negative-side-effects-of-technology/.</p>
            <p class="work-cited">Accessed 14 Apr. 2017.on Science Reference, 2010.</p>
        </p>
        </p>
        <p>
            Holmes, Lindsay. “Sneaky Ways Technology Is Messing With Your Body And Mind.” The Huffington
            <p class="work-cited">Post, TheHuffingtonPost.com, 5 Dec. 2014, www.huffingtonpost.com/2014/12/05/health-</p>
            <p class="work-cited">effects-of-technol_n_6263120.html. Accessed 15 Apr. 2017.</p>
        </p>
        <p>
            Seligman, Martin. "Flourish: Positive Psychology and Positive Interventions."
            <p class="work-cited">The Tanner Lectures on Human Values, University of Utah, 7 Oct. 2010,</p>
            <p class="work-cited">University of Michigan, Ann Arbor, MI. Guest Lecture.</p>
        </p>
        <p>
            Lilienfeld, Scott O., and Hal Arkowitz. "Can Positive Thinking Be Negative?" <i>Scientific American</i>
            <p class="work-cited">, ScientificAmerican.com, 1 May 2011, https://www.scientificamerican.com/article/can-</p>
            <p class="work-cited">positive-thinking-be-negative/.</p>
        </p>
    </div>
    <!-- END OF WORKS CITED -->

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <p class="text-center"><b>I created a poll wherein I ask people this question:</b></p>
            <p class="text-center"><a href="http://www.strawpoll.me/12763219/r">You can visit the online poll here.</a></p>
            <%= image_tag 'poll.png', class: 'img-fluid' %>
            <br />
            <br />
            <p class="text-center"><b>Out of 29 people who answered the question 93% said yes and 7% said no.</b></p>
            <%= image_tag 'stats.png', class: 'img-fluid col-12 col-md-10 offset-md-1' %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <br />
            <br />
            <p class="text-center"><b>The future of Health Technology in the next 20 years.</b></p>
          <%= image_tag 'future-tech.png', class: 'img-fluid' %>
        </div>
        <br />
            <div class="col-md-10 offset-md-1">
                <br />
                <br />
                <h1 class="text-center">Health and Technology</h1>
                <p class="text-center">
                    This site was built by <a target="_blank" href="http://kirbyjames.me">Kirby</a>.
                    For the purpose of his English class research paper.
                    <p class="text-center"><b>Professor Welsh</b></p>
                </p>
            </div>
            <br />
    </div>

<br class="clear" />
  <% 4.times do %>
    <br>
  <% end %>

</div>
