
@font-face {
    font-family: 'intro_head_rbase';
    src: url('introheadr-base-webfont.woff2') format('woff2'),
         url('introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('introrustg-base2line-webfont.woff2') format('woff2'),
         url('introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'intro_script_rh2_base';
    src: url('introscriptr-h2base-webfont.woff2') format('woff2'),
         url('introscriptr-h2base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
